
       <section id="content">
        <div class="team section">
        <div class="container">
           
            <h2 class="big-title">Entrar em contacto: PAULO SOUSA</h2>
               
            <form action="" id="contact-form" class="contact-form" role="form" method="post">
                <div class="row">
                    <div class="col-md-4">
                        <input type="text" class="form-control" name="name" placeholder="Nome" value="Tiago Coelho" readonly>
                    </div>
                    <div class="col-md-4">
                        <input type="email" class="form-control" name="EMAIL" placeholder="Email" value="tiago.coelho@ua.pt" readonly>
                    </div>
                  
                    <div class="col-md-4">
                        <input type="number" class="form-control" name="horas" placeholder="Previsão de horas a contratar">
                    </div>
                    <div class="col-md-12">
                        <textarea class="form-control" placeholder="Mensagem" rows="9"></textarea>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" id="submit" class="btn btn-effect"> Enviar</button>
                    
                    </div>
                </div>
            </form>
        </div>
    </div>
       </section>