
        <!-- Start team Section  -->
        <div class="team section">
        <div class="container">
            <!-- Start Heading -->
            <div class="heading">
                <div class="section-title">PROFISSIONAIS DE CONFIANÇA</div>
            </div>
            <!-- End Heading -->
            <!-- Some Text -->
            <p class="description text-center">
                Encontre o melhor profissional, ao melhor preço de mercado.
            </p>
            <div class="row">
                <!-- Start Memebr 1 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <a href="#people/1"><img src="assets/img/team/team-01.png" alt=""></a>

                        </div>
                        <div class="info">
                            <h4>Paulo Sousa</h4>
                            <p>Engenheiro Civil</p>
                        </div>
                    </div>
                </div>
                <!-- Start Memebr 2 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-02.png" alt="">

                        </div>
                        <div class="info">
                            <h4>João Pedro</h4>
                            <p>Arquiteto</p>
                        </div>
                    </div>
                </div>
                <!-- Start Memebr 3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-03.png" alt="">

                        </div>
                        <div class="info">
                            <h4>Manuel Alves</h4>
                            <p>Carpinteiro</p>
                        </div>
                    </div>
                </div>
                <!-- Start Memebr 4 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-04.png" alt="">

                        </div>
                        <div class="info">
                            <h4>Francisco Costa</h4>
                            <p>Pintor</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-04.png" alt="">

                        </div>
                        <div class="info">
                            <h4>Francisco Costa</h4>
                            <p>Pintor</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-04.png" alt="">

                        </div>
                        <div class="info">
                            <h4>Francisco Costa</h4>
                            <p>Pintor</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-04.png" alt="">

                        </div>
                        <div class="info">
                            <h4>Francisco Costa</h4>
                            <p>Pintor</p>
                        </div>
                    </div>
                </div><div class="col-md-3 col-sm-6">
    <div class="team-member">
        <div class="team-thumbnail">
            <img src="assets/img/team/team-04.png" alt="">

        </div>
        <div class="info">
            <h4>Francisco Costa</h4>
            <p>Pintor</p>
        </div>
    </div>
</div>
                <!-- End Memebr 4 -->
            </div>
        </div>
    </div>
 