   <section id="content">
        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- Single Projects Slider Start -->
                    <div class="col-md-12 single-slider">
                        <!-- Post post-thumb -->
                        <div class="post-thumb">
                            <img src="assets/img/project/img3.jpg" alt="">
                        </div>
                        <!-- End Post post-thumb -->
                    </div>
                    <!-- Single Projects Slider End -->
                    <!-- Single Project CContent Start -->
                    <div class="col-md-8">
                        <h2 class="big-title">PAULO SOUSA</h2>
                        <h3>Engenheiro Civil</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam laudantium provident cum beatae deserunt, doloribus esse eaque obcaecati, qui aut dicta reprehenderit incidunt, illum aliquid excepturi non inventore optio, ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat dignissimos alias, vel perferendis aut laudantium voluptatem, eius animi tempore voluptatibus enim neque, veniam maxime! Non, ipsa excepturi obcaecati in nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita corrupti rerum ratione. Quisquam accusantium, neque non porro quo voluptatibus nobis quod obcaecati. Laborum nobis, similique rem assumenda at dolor fuga.</p>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam laudantium provident cum beatae deserunt, doloribus esse eaque obcaecati, qui aut dicta reprehenderit incidunt, illum aliquid excepturi non inventore optio, ratione. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat dignissimos alias, vel perferendis aut laudantium voluptatem, eius animi tempore voluptatibus enim neque, veniam maxime! Non, ipsa excepturi obcaecati in nisi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita corrupti rerum ratione. Quisquam accusantium, neque non porro quo voluptatibus nobis quod obcaecati. Laborum nobis, similique rem assumenda at dolor fuga.</p>

                       
                    </div>
                    <div class="col-md-4">
                        <div class="project-details">
                            <h4>Informações úteis:</h4>
                            <p><span>Localização:</span> Aveiro</p>
                            <p><span>Custo:</span> 40€ /hora</p>
                            <p><span>Deslocação:</span> 20€</p>
                            <p><span>Avalição:</span> 4/5</p>
                           
                            <p><span>Profissão:</span> Engenheiro Civil</p>
                        </div>

                        <a href="#contact/1" class="btn btn-larg btn-effect">Entrar em contacto</a>
                    </div>
                    <!-- Single Project CContent End -->
                    <div class="blog-post">
                        <div class="col-md-12 single-slider">
                            <h3>Comentários</h3>
                            <br />
                            <div class="post-content">
                                <div class="meta">
                                    <span class="meta-part"><i class="icon-clock"></i> <a href="#">13 Janeiro 2016</a></span>
                                    <span class="meta-part"><a href="#"><i class="icon-user"></i> Pedro Santos</a></span>
                                    <span class="meta-part"><a href="#"><i class="icon-heart"></i> 4/5</a></span>
                                </div>
                                <p>O Paulo fez um bom trabalho. Recomendo</p>

                            </div>

                            <div class="post-content">
                                <div class="meta">
                                    <span class="meta-part"><i class="icon-clock"></i> <a href="#">5 Dezembro 2015</a></span>
                                    <span class="meta-part"><a href="#"><i class="icon-user"></i> Manuel Santos</a></span>
                                    <span class="meta-part"><a href="#"><i class="icon-heart"></i> 5/5</a></span>
                                </div>
                                <p>Queria apenas agradecer o excelente trabalho efetuado pelo Paulo!</p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </section>
     
     