
        <!-- Start team Section  -->
        <div class="team section">
        <div class="container">
            <!-- Start Heading -->
            <div class="heading">
                <div class="section-title">PROFISSIONAIS DE CONFIANÇA</div>
            </div>
            <!-- End Heading -->
            <!-- Some Text -->
            <p class="description text-center">
                Encontre o melhor profissional, ao melhor preço de mercado.
            </p>
            <div class="row">
             
                <div class="col-md-3 col-sm-6" ng-repeat="user in users">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <a href="#people/{{ user.id }}"><img ng-src="assets/img/team/{{ user.userImg }}" alt=""></a>

                        </div>
                        <div class="info">
                            <h4>{{ user.name }}</h4>
                            <p>{{ user.serviceList[0].category.name }}</p>
                        </div>
                    </div>
                </div>
                <!-- dummy info -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-02.png" alt="">

                        </div>
                        <div class="info">
                            <h4>João Pedro</h4>
                            <p>Arquiteto</p>
                        </div>
                    </div>
                </div>
                <!-- Start Memebr 3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-03.png" alt="">

                        </div>
                        <div class="info">
                            <h4>Manuel Alves</h4>
                            <p>Carpinteiro</p>
                        </div>
                    </div>
                </div>
                <!-- Start Memebr 4 -->
                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-04.png" alt="">

                        </div>
                        <div class="info">
                            <h4>Francisco Costa</h4>
                            <p>Pintor</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-04.png" alt="">

                        </div>
                        <div class="info">
                            <h4>Francisco Costa</h4>
                            <p>Pintor</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-04.png" alt="">

                        </div>
                        <div class="info">
                            <h4>Francisco Costa</h4>
                            <p>Pintor</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="team-member">
                        <div class="team-thumbnail">
                            <img src="assets/img/team/team-04.png" alt="">

                        </div>
                        <div class="info">
                            <h4>Francisco Costa</h4>
                            <p>Pintor</p>
                        </div>
                    </div>
                </div><div class="col-md-3 col-sm-6">
    <div class="team-member">
        <div class="team-thumbnail">
            <img src="assets/img/team/team-04.png" alt="">

        </div>
        <div class="info">
            <h4>Francisco Costa</h4>
            <p>Pintor</p>
        </div>
    </div>
</div>
                <!-- End Memebr 4 -->
            </div>
        </div>
    </div>
 