
    
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="big-title">Novo registo para Profissionais</h2>
                        <!-- Form -->
                        <form action="" id="contact-form" class="contact-form" role="form" method="post">
                            <div class="row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="name" placeholder="Nome">
                                </div>
                                <div class="col-md-8">
                                    <input type="email" class="form-control" name="EMAIL" placeholder="Email">
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="phone" placeholder="Telefone">
                                </div>
                                <div class="col-md-8">
                                    <input type="text" class="form-control" name="subject" placeholder="Localização">
                                </div>
                                <div class="col-md-8">
                                    <input type="password" class="form-control" name="subject" placeholder="password">
                                </div>
                                <div class="col-md-6">
                                    <button type="submit" id="submit" class="btn btn-effect"> Enviar</button>
                                   
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <h2 class="big-title">Profissionais</h2>
                        <div class="information">
                            É um profissional que pretende registar-se no nosso portal?
                        </div>
                        <br />
                        <p>
                            <a href="#register_professional" class="btn btn-larg btn-effect">Registo Profissional</a>
                        </p>
                    </div>
                </div>
            </div>
        </section>
     
