
        <!-- Start search Section  -->
        <section class="about section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Classic Heading -->
                        <div>
                            <h2>O que precisa</h2>
                            <p>
                                <select name="servico" class="form-control">
                                    <option>escolher</option>
                                    <option>canalizador</option>
                                    <option>carpinteiro</option>
                                    <option>pintor</option>
                                    <option>técnico de informática</option>
                                    <option>eletricista</option>
                                    <option>empregada de limpeza</option>
                                </select>
                            </p>
                            <h2>Para que localidade</h2>
                            <p>
                                <select name="localidade" class="form-control">
                                    <option>aveiro</option>
                                    <option>porto</option>
                                    <option>coimbra</option>
                                </select>
                            </p>
                        </div>

                        <div class="group-btn">
                            <a href="people.html" class="btn btn-effect">Pesquisar</a>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="featured-thumb">
                            <img src="assets/img/about/img1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>
     